{{ define "main" }}

<h1>{{ .Title }}</h1>

{{ .Content }}

<div class="projects-list">

    {{ range (.Pages.GroupByParam "area") }}

        <details>

            <summary>
                <strong>{{ .Key }}</strong>
                <span class="project-count">({{ len .Pages }})</span>
            </summary>

            <ul>

                {{ range .Pages }}

                    <li>
                        <a href="{{ .RelPermalink }}">
                            {{ .LinkTitle }}
                        </a>
                    </li>

                {{ end }}

            </ul>

        </details>

    {{ end }}

</div>

{{ end }}
